
<mat-card class="mat-card bg" align="center" >
  <mat-card-title class="matCd-title">Login</mat-card-title>
  <mat-card-content>
    <form #loginform="ngForm">
      <mat-form-field appearance="outline" class="login-form">
        <input matInput name="email" [(ngModel)]="email"  id="email" class="mat-input-element" placeholder="email"  >
      </mat-form-field>
      <mat-form-field appearance="outline" class="login-form">
        <input matInput type="password" class="mat-input-element" placeholder="password" name="password" [(ngModel)]="password" >
      </mat-form-field>
    </form>

    <button mat-raised-button type="submit" color="primary" (click)="LoginUser(loginform)">Login</button>

  </mat-card-content>
</mat-card>

