.bg {
  background: url("https://cdn1.vectorstock.com/i/1000x1000/58/00/morning-city-skyline-silhouette-in-flat-style-vector-16745800.jpg");
  height: 100%;
  background-size: cover;
}
.mat-card{
  width: 40%;
  margin-top: 10%;
  margin-left: 30%;
  border-radius: 8px;
  height: 50%
}
.matCd-title{
  color: darkviolet;
}
.login-form {
  width: 50%;
  margin: 1%;
}
.mat-input-element{
  height: 8% ;
  width: 100%;
}


