.home-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.mat-drawer-side{
  width: 15%;
  background: #437294;
}
.mat-list-item{
  color: white;
  font-family: Arial;
}

.mat-table{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2%;

}
.bg{
  background: gainsboro;
}
