<mat-sidenav-container class="home-nav" >
  <mat-sidenav class="mat-drawer-side" mode="side" opened>
    <mat-action-list class="mat-list-item">
      <mat-list>
        <mat-list-item> AppLogin </mat-list-item>
        <mat-list-item> Home </mat-list-item>
        <mat-list-item> Contact </mat-list-item>
      </mat-list>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content class="bg">
    <div class="mat-elevation-z8">
      <table mat-table class="mat-table" [dataSource]="auth.user$" >

        <ng-container matColumnDef="uid">
          <th mat-header-cell *matHeaderCellDef> UUID </th>
          <td mat-cell *matCellDef="let user"> {{user.uid}} </td>
        </ng-container>


        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> E-mail</th>
          <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

